body{
    background-color: lightgrey;
}

.container { 
    width:80%;
    margin: 0 auto;
}

.right{
    float:right;
    width: 30%;
}

.left { 
    float:left;
    width: 70%;
    
}

li {
    padding: 15px;
}
li.done {
    text-decoration: line-through;
}
}

h1 {
    text-align: center;
}

.column {
    width: 33%;
}

.row {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.center-txt {
    align-items: center;
    text-align: center;
}
