<html>
    <head>
        <title>ToDo</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        
    </head>
    <body>
        <div>
            <div>
                <h1>New Todo Item</h1>
                <form action="/todo/" method="post" >
                    <label for="name">New TODO:</label><br>
                    <input type="text" id="name" name="name"><br><br>
                    <input type="button" value="Submit" onClick="submitform()">
                </form>
            </div>
            <div>
                <h1>ToDo List</h1>
                <ul>
                    <span>Todo ID</span>
                    <span>Todo Name</span>
                    <span>Todo Done</span>
                {% for todo in todos %}
                    <li>
                        <span>{{ todo.id }}</span>
                        <span>{{ todo.name }}</span>
                        <span>{{ todo.done }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function submitform() {
            let form = document.forms[0];
            Promise.resolve()
            .then(function() {
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                const formData = {
                    "name": form.querySelector('input[name="name"]').value
                };
                console.log({formData})
                const res = xhr.send(JSON.stringify(formData));
            })
            .then(function(){
                console.log("Reload");
                window.location.reload();
            })
            
        }
    </script>
</html>
